<h2 class="text-center mb-4 mt-3">¿Dónde estamos?</h2>

<div id="mapa"></div>

<div class="text-center mt-4">
  <h3>Dirección</h3>
  <p>Calle Grandhidal, Cádiz, España</p>

  <h3>Teléfono de reservas</h3>
  <p>+34 912 34 56 78</p>

  <!-- Ventajas -->
  <div class="mt-4">
    <h2 class="text">🎉 Ventajas para nuestros clientes</h2>
    <p><i class="bi bi-car-front-fill me-2 text-primary"></i> <strong>Aparcamiento gratuito</strong> para todos nuestros comensales.</p>
    <p><i class="fa-solid fa-glass-cheers me-2 text-warning"></i> <strong>¡Chupitos gratis!</strong> con tu reserva. Solo para clientes que reserven con antelación.</p>
  </div>

  <a id="reserva-button" [routerLink]="['/reservas']" class="btn btn-info btn-lg rounded-pill mt-3">
    Reserva ahora!!
  </a>
</div>
