<section id="hero" class="d-flex align-items-center justify-content-center vh-100 bg-image">
  <div id="hero-container" class="container text-center text-white">
    
    <h1 id="hero-title" class="display-4 fw-bold mb-3 animado" #animado>
      Bienvenidos a [Faro Restaurante]
    </h1>

    <p id="hero-subtitle" class="lead mb-4 w-75 mx-auto animado" #animado>
      Para muchos el mejor sabor del país
    </p>

    <a id="hero-button" [routerLink]="['/reservas']" class="btn btn-info btn-lg rounded-pill animado" #animado>
      Reserva tu mesa ahora
    </a>

  </div>
</section>
